body {
    background-color: rgb(74, 74, 74);
}

.rws-001 {
    color: white;
    font-family: 'Consolas';
    font-size: 48px;
    text-align: center;
    padding-top: 25px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.rws-002 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    font-family: 'Consolas';
    font-size: 32px;
    font-weight: bold;
}

.rws-003 {
    width: 64px;
    margin-left: 69.75%;
    margin-top: -3.5%;
    margin-right: auto;
    display: block;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.rws-004 {
    color: white;
    font-family: "Consolas";
    font-size: 32px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.rws-007 {
    color: rgba(0, 0, 0, 0);
    font-family: "Consolas";
    font-size: 32px;
    margin-top: -2%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.rws-008 {
    color: white;
    font-family: "Consolas";
    font-size: 32px;
    margin-top: -2%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.loader {
    border: 2px solid #FFF;
    width: 48px;
    height: 48px;
    background: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    display: block;
    margin-left: 48.25%;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 24px solid;
    border-color: transparent #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 